<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>


<h1>User Posts</h1>


{%for x in all_users%}
<p>{{x.all_quotes.author}}: {{x.all_quotes.quote}}</p>
{%endfor%}


<h4>Count = {{count}}</h4> 

    <form  action="/bb2/logout" method="post">
        {%csrf_token%}
    <input type="submit" name="submit" value="Log Out">
    </form>

    <form  action="/bb2/quotes" method="post">
        {%csrf_token%}
    <input type="submit" name="submit" value="Dashboard">
    </form>

    </body>
</html>
